/* COMMON  */

body{
    font-family: 'Roboto', sans-serif;
    color: #5C6A88;
    font-weight: 500;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.bg-gray{
    background-color: #F3F5F9;
    margin-top: 0;
}

.general_heading{
    color: #072050;
    font-weight: 600;
}

h5.general_heading{
    font-size: 18px;
}

h3.general_heading{
    font-size: 30px;
}

.general_subtitle{
    font-size: 19px;
    font-weight: 500;
}

.wrapper_small{
    width: 90%;
    margin: auto;
    padding-top: 40px;
}

.section-padding{
    padding: 50px 0;
}

/* HEADER  */

/* top nav  */
.header_logo{
    padding: 10px 0;
}
.header_logo img{
    width: 200px;
}

.burger-menu i{
    font-size: 25px;
}

.burger-menu{
    text-align: right;
}

.menu_nav ul{
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
}

.menu_nav .menu_right{
    padding: 13px 0;
}
.menu_nav ul li{
    display: inline-block;
    padding-left: 10px;
}

.menu_nav ul li a{
    color: #142B59;
    font-size: 16px;
    font-weight: 600;
}

.menu_right .btn_signup{
    border: 1px solid #036CFF;
    color: #036CFF;
}
/* fine top nav  */

/* JUMBOTRON  */

.jumbo_content{
    padding: 50px 0;
}
.ms_jumbotron{
    background-image: url(../img/ms-jumbo.jpg);
    background-size: cover;
}

.header_title{
    color: white;
}

.header_title h1{
    font-size: 55px;
    width: 90%;
}

.header_title p{
    font-size: 16px;
    color: #BBCDFF;
    font-weight: 600;
}

.log_in_box{
    padding: 30px 25px;
    background-color: white;
    border-radius: 5px;
}

.log_in_box h2{
    line-height: 20px;
}

.log_in_box h2:nth-child(2){
    color: #006AFF;
}

#log_in_form{
    padding: 5px 0 10px 0;
}

#log_in_form input{
    box-shadow: none;
}

#log_in_form input::placeholder{
    color: #818181;
    font-size: 18px;
    font-weight: 500;
}

.ms_form_group{
    margin-bottom: 7px;
}

.btn_create_acc{
    background-color: #579AFF;
    color: white;
    display: block;
    margin-bottom: 7px;
}

.btn_google_signup{
    background-color:white;
    color: #696969;
    display: block;
    border-bottom: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    position: relative;
}

.btn_google_signup img{
    height: 20px;
    position: absolute;
    left: 5px;
}
/* fine JUMBOTRON  */
/* fine HEADER  */

/* MAIN  */

/* sezione customers  */
.customers{
    padding: 50px 0;
}

.general-link{
    font-size: 16px;
    color: #006AFF;
    font-weight: 500;
}

.customers-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.customers-list li{
    display: inline-block;
}

.customers-list li img{
    width: 100%;
}

.customers-list li{
    width: calc( ( 100% / 6 ) - 4px );
}

@media all and (max-width: 768px){
    .customers-list li img{
        width: 80%;
    }

    .customers-list li{
        width: calc( ( 100% / 2 ) - 4px );
    }
}
/* fine customers  */

/* sezione features  */

.plan-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-left: 1px solid #5C6A88;
}

.plan-list li{
    padding: 10px 7px;
}

.inner-padding{
    padding-bottom: 30px;
}
/* fine features  */

/* slideshow */
.slideshow-wrapper{
    width: 70%;
    margin: 40px auto 0 auto;
    
}

.ms_slideshow{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ms_slideshow li{
    display: inline-block;
}

.ms_slideshow li a{
    font-size: 40px;
    color:#072050;
    padding: 0 15px;
}

.ms_slideshow li a:hover{
    color: #6F7B97;
}
.slide-img{
    width: 75%;
}

.slide-img img{
    width: 100%;
}

.slideshow-wrapper h6{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.slide-circles{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slide-circles li {
    display: inline-block;
    padding: 0 3px;
}


.circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid #006AFF;
}

/* uso nth-child invece di first-child per poter selezionare qualunque pallino allóccorrenza  */
.slide-circles li:nth-child(1) .circle{
    background-color: #006AFF;
}

@media all and (max-width: 768px){
    .ms_slideshow li:first-child,
    .ms_slideshow li:last-child{
        display: none;
    }
    .slideshow-wrapper{
        width: 100%;
        margin: 70px auto 0 auto;
    }   
}
/* fine slideshow  */

/* sezione pros  */
.row_padding{
    padding-top: 30px;
}
/* fine pros  */

/* sezione servers  */
.blue-gradient{
    background: linear-gradient(0deg, rgba(0,29,153,1) 39%, rgba(0,71,197,1) 97%);
    color: white;
}

.blue-gradient h3{
    font-size: 30px;
}

.servers-list li{
    display: block;
    border-bottom: 1px solid white;
    padding: 10px 0 5px 15px;
}

.servers-list li:last-child{
    border-bottom: none
} 


.server_id{
    text-transform: uppercase;
}

.server_location{
    color: #A8BAE4;
}

.servers-list li a{
    color: #00D4D2;
}
/* fine servers  */
/* fine MAIN  */